@keyframes pulseOrange {
    0% {
        box-shadow: 0 0 5px #FF4E00;
    }
    50% {
        box-shadow: 0 0 20px #FF4E00, 0 0 30px #FF4E00;
    }
    100% {
        box-shadow: 0 0 5px #FF4E00;
    }
}

@keyframes pulseBlue {
    0% {
        box-shadow: 0 0 5px #007BFF;
    }
    50% {
        box-shadow: 0 0 20px #007BFF, 0 0 30px #007BFF;
    }
    100% {
        box-shadow: 0 0 5px #007BFF;
    }
}

.pulse-orange {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: pulseOrange 15s infinite alternate;
    z-index: 0;
}

.pulse-blue {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: pulseBlue 15s 7.5s infinite alternate; /* delay it by 7.5s so it's on the opposite schedule */
    z-index: -1;
}
